<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeginger.frkout">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />



    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FacebookSignInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoInternetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_no_internet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_otp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GoogleSignInActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_google_sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_facebook_sign_in"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name="com.facebook.FacebookActivity"

            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"

            android:label="@string/app_name"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <meta-data
            android:name="com.facebook.sdk.ApplicationId"

            android:value="@string/app_id" />







        <activity
            android:name=".TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_Chat"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatListBrandsUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_Chat"
            android:parentActivityName=".ChatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".ChatListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="DASHBOARD"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".BroadcastActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_broadcast"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BroadcastActivityDisplay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_broadcast_activity_display"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveysActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_surveys"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FeedbackCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Receiver -->
        <receiver
            android:name=".MSGReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.codeginger.frkout" />
            </intent-filter>
        </receiver>

        <!-- Service -->
        <service android:name=".MSGService" />

        <activity android:name=".SmsActivity">

            <!--
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name=".SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" />
        <activity android:name=".Sign_userActivity" />

        <provider
            android:name="com.facebook.FacebookContentProvider"

            android:authorities="com.codeginger.app.FacebookContentProvider1675298866087501"

            android:exported="true" />



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="80281433b998086163777af35a19b0668948cd2b" />
    </application>

</manifest>